
.xdebug-var-dump {
  background: #f0f0f0;
  padding: 2px;
  font-family: monospace;
  line-height: 150%;
}

/* ethna debug style
 */

/*
0 => string 'EMERG' (length=5)
1 => string 'ALERT' (length=5)
2 => string 'CRIT' (length=4)
3 => string 'ERR' (length=3)
4 => string 'WARNING' (length=7)
5 => string 'NOTICE' (length=6)
6 => string 'INFO' (length=4)
7 => string 'DEBUG' (length=5)
*/
.ethna-debug-title ,
.ethna-debug-subtitle {
  font-family: "Trebuchet MS", Osaka;
  font-size: 18px;
  font-weight: bold;
}

#ethna-debug-switch-outline {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0px;
  right: 0px;
  border-left: solid 2px #aaa;
  border-bottom: solid 2px #aaa;
}
.ethna-debug-switch {
  float:left;
  margin: 0;
  padding: 2px 10px;
  height: 18px;
  list-style:none;
  background: #fff;
  font-size: 12px;
  z-index: 1000;
  opacity: 0.6;
}

#ethna-debug-switch-Ethna {
}
#ethna-debug-switch-EthnaClose {
  background: #fff url(../images/ethna-debug-switch-EthnaClose.png) 0px 4px no-repeat;
  padding-left: 0;
  width: 15px;
  text-indent: -9999px;
}
#ethna-debug-switch-Ethna {
  padding-left: 22px;
  padding-right:0;
  background: #fff url(../images/ethna-debug-switch-Ethna.png) 2px 4px no-repeat;
}
#ethna-debug-switch-Timer {
  padding-left: 22px;
  background: #fff url(../images/ethna-debug-switch-Timer.png) 2px 4px no-repeat;
}
#ethna-debug-switch-Log {
  padding-left: 22px;
  background: #fff url(../images/ethna-debug-switch-Log.png) 2px 4px no-repeat;
}
#ethna-debug-switch-Info {
  padding-left: 22px;
  background: #fff url(../images/ethna-debug-switch-Info.png) 2px 4px no-repeat;
}
#ethna-debug-switch-SmartyDebug {
  padding-left: 22px;
  background: #fff url(../images/ethna-debug-switch-Smarty.png) 2px 4px no-repeat;
}
#ethna-debug-switch-Config {
  padding-left: 22px;
  background: #fff url(../images/ethna-debug-switch-Config.png) 2px 4px no-repeat;
}
.ethna-debug {
  font-family: arial;
  position: absolute;
  top: 0px;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  background: #ccc;
  display:none;
  font-size: 12px;
}
.ethna-debug div {
  padding-left: 20px;
}

#ethna-debug-timewindow {
}
#ethna-debug-logwindow {
}

.ethna-debug-log {
  margin: 0;
  padding: 2px 10px;
  color: #000;
}

.ethna-debug-log-EMERG {
}
.ethna-debug-log-ALERM {
}
.ethna-debug-log-CRIT {
}
.ethna-debug-log-ERR {
  background: #ffaaaa;
}
.ethna-debug-log-WARNING {
  background: #ffaaaa;
}
.ethna-debug-log-NOTICE {
  background: #ffcccc;
}
.ethna-debug-log-INFO {
  background: #ccccff;
}
.ethna-debug-log-DEBUG {
  background: #ccc;
}

.ethna-debug-log-loglevel {
  font-weight: bold;
}

.ethna-debug-log-loglevel-EMERG {
  color: #f00;
}
.ethna-debug-log-loglevel-ALERM {
  color: #f00;
}
.ethna-debug-log-loglevel-CRIT {
  color: #f00;
}
.ethna-debug-log-loglevel-ERR {
  color: #f00;
}
.ethna-debug-log-loglevel-WARNING {
  color: #f00;
}
.ethna-debug-log-loglevel-NOTICE {
  color: #f66;
}
.ethna-debug-log-loglevel-INFO {
  color: #00f;
}
.ethna-debug-log-loglevel-DEBUG {
}

.ethna-debug-window {

}

.ethna-debug-table {
  border-collapse: collapse;
  border: solid 1px #333;
}
.ethna-debug-table th ,
.ethna-debug-table td {
  padding: 3px 5px;
  border-collapse: collapse;
  border: solid 1px #333;
  font-size: 12px;
}
.ethna-debug-table th {
  background: #9c9;
}
.ethna-debug-table td.e {
  background: #aca;
}
